[submodule "lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git

[submodule ".vim/bundle/jedi-vim.git"]
	path = .vim/bundle/jedi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git

[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/awesome-vim-colorschemes"]
	path = .vim/bundle/awesome-vim-colorschemes
	url = https://github.com/irenicus30/dotfiles.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/supertab.git"]
	path = .vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "PathPicker"]
	path = PathPicker
	url = https://github.com/facebook/PathPicker.git
[submodule "tmux-gruvbox"]
	path = tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "pimux"]
	path = pimux
	url = https://github.com/ndyakov/pimux.git
